// Headline
$fs-headline-xl: 3.75rem;
$fs-headline-l: 3.25rem;
$fs-headline-m: 3rem;
$fs-headline-s: 2.5rem;
$fs-headline-xs: 1.75rem;

// Text
$fs-text-xl: 2rem;
$fs-text-l: 1.5rem;
$fs-text-m: 1rem;
$fs-text-s: .75rem;
$fs-text-xs: .5rem;

// Button
$fs-button-m: 1.25rem;
$fs-button-s: .75rem;

// Link
$fs-link-l: $fs-text-l;
$fs-link-m: $fs-text-m;
$fs-link-s: $fs-text-s;