// Headline
$lh-headline-xl: 5rem;
$lh-headline-l: 3.75rem;
$lh-headline-m: 3.25rem;
$lh-headline-s: 3rem;
$lh-headline-xs: 2.5rem;

// Text
$lh-text-xl: 2.75rem;
$lh-text-l: 2rem;
$lh-text-m: 1.5rem;
$lh-text-s: 1rem;
$lh-text-xs: .75rem;

// Button
$lh-button-m: 1.75rem;
$lh-button-s: 1.25rem;

// Link
$lh-link-l: $lh-text-l;
$lh-link-m: $lh-text-m;
$lh-link-s: $lh-text-s;