.body {
    display: flex;
    vertical-align: middle;

    margin: 0;

    .main-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        margin: auto;
        width: 100%;
    }
}